services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "${DB_PORT:-5432}:5432"
    environment:
      POSTGRES_DB: ${DB_NAME:-ignite}
      POSTGRES_USER: ${DB_USER:-ignite}
      POSTGRES_PASSWORD: ${DB_PASS:-ignite}
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
